#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.square {
  width: 64.5px;
  height: 64.5px;
}

.row {
  display: flex;
}

.board {
  display: flex;
  flex-direction: column;
}

.piece {
  width: 64.5px;
  height: 64.5px;
  -moz-user-select:none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE*/
  user-select: none; /* Standard syntax */
}
